{{ "<!-- navigation -->" | safeHTML }}
<header class="fixed-top navigation">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand" href="{{ site.baseurl }}"><img class="img-fluid" src="{{ site.data.parameters.logo | relative_url }}" alt="{{ site.title }}"></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="ti-menu h3"></i>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto">
          {% for main in site.data.parameters.menu.main %}
            {% if main.submenu %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{main.name}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for children in main.submenu %}
                <a class="dropdown-item" href="{{children.url}}">{{children.name}}</a>
                {% endfor %}
              </div>
            </li>
            {% else %}

            <li class="nav-item">
              <a class="nav-link" href="{{ main.url | relative_url }}">{{ main.name }}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
        {% if site.data.parameters.search.enable %}
        <!-- search -->
        <div class="search">
          <button id="searchOpen" class="search-btn"><i class="ti-search"></i></button>
          <div class="search-wrapper">
            <form action="{{ 'search' | relative_url }}" class="h-100">
              <input class="search-box px-4" id="search-box" name="query" type="search" placeholder="Type & Hit Enter...">
            </form>
            <button id="searchClose" class="search-close"><i class="ti-close text-dark"></i></button>
          </div>
        </div>
        {% endif %}
      </div>
    </nav>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}