<article class="mb-5">
  <h2 class="h4"><a class="post-title" href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  <div class="mb-3 post-meta">
    {% if post.author %}
    <a href="{{ 'author/' | absolute_url }}{{ post.author | url_encode | downcase | replace: '+', '-' }}">{{ post.author | capitalize }}</a>{%endif%},
    {{ post.date | date: '%b %d, %Y' }},
    {% if post.tags.size >= 1 %}
    {% for tag in post.tags %}
    <a href="{{ '/tag/' | absolute_url }}{{ tag | url_encode | downcase | replace: '+', '-' }}">{{ tag | capitalize }}</a>
    {% endfor %}
    {% endif %}
  </div>
  <p>{{ post.content | truncatewords: 20 }}</p>
  <a href="{{ post.url | absolute_url }}" class="btn btn-sm btn-transparent pl-0">read more</a>
</article>