---
layout: default
---

<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center block shadow">
        <img src="{{ page.image | relative_url }}" alt="{{page.title}}" class="img-fluid d-block mx-auto rounded-circle mb-4 author-thumb">
        <h4>{{ page.title }}</h4>
        <div class="content">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto px-0">
        <h2 class="mb-4">Post by author</h2>
        <div class="bg-white shadow block">
          {% assign author = site.posts | where: "author", page.title %}
          {% for post in author %}
          {% include post.html %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /blog -->